h1 {
    font-family: fantasy;
    font-size: 100;
}

header {
    font-family: fantasy;
    background-color: #007e94;
    color: #fff;
    padding: 20px;
}

body {
    background-image: url('assets/images/bg.png');
    background-repeat: repeat;
    background-size: contain;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Set your desired background color */
}

.content-container {
    width: 80%; /* Adjust the width as needed */
    background-color: white;
    border: 2px solid #ddd; /* Add a border to create a 3D effect */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    position: relative; /* Set position to relative */
    z-index: 1; /* Set a higher z-index */
}

button {
    background-color: transparent;
    margin-right: 40px;
}

button img {
    margin-right: 8px;
}

.no-bdr {
    border: none;
}

td {
    margin-right: 60px;
}